<header class="">
    <div>
        <button
            class="py-2 mb-2 bg-white rounded-full border-2 border-sky-500 group hover:bg-sky-500 transition-all duration-300"
            (click)="goBack()"
        >
            <p
                class="pi pi-arrow-left text-md text-sky-500 font-bold px-4 group-hover:text-white"
            ></p>
        </button>
    </div>
</header>
<div class="flex justify-center">
    <h1 class="text-2xl md:text-4xl tracking-wide font-semibold">New Duty</h1>
</div>
<div class="lg:mx-48 py-4 md:px-4">
    <form
        class="py-4 md:px-4 flex flex-col gap-y-6"
        action=""
        (ngSubmit)="createNewDuty()"
        (change)="removeErrorMessage()"
    >
        <div class="flex flex-col gap-y-4">
            <h1 class="text-sm md:text-md font-semibold tracking-wide">
                duty name:
            </h1>
            <input
                type="text"
                name="title"
                id="title"
                [(ngModel)]="newDuty.title"
                class="border-sky-500 border-2 px-3 py-1 rounded-md focus:outline-none focus:shadow-sky-500/20 focus:shadow-md"
                placeholder="title"
                required
            />
        </div>
        <div class="flex flex-col gap-y-4">
            <h1 class="text-sm md:text-md font-semibold tracking-wide">
                instruction:
            </h1>
            <textarea
                type="textarea"
                name="title"
                id="title"
                [(ngModel)]="newDuty.instruction"
                class="border-sky-500 border-2 px-3 py-1 rounded-md focus:outline-none focus:shadow-sky-500/20 focus:shadow-md"
                placeholder="instruction"
                rows="6"
            ></textarea>
        </div>
        <div class="">
            <div class="flex flex-col gap-y-4">
                <h1 class="text-sm md:text-md font-semibold tracking-wide">
                    publish at:
                </h1>
                <div class="flex flex-row gap-x-4">
                    <input
                        type="datetime-local"
                        name="publishAt"
                        [(ngModel)]="newDuty.publishedAt"
                        class="border-2 border-sky-500 px-2 py-1 rounded-md text-sm focus:outline-none focus:shadow-sky-500/20 focus:shadow-md"
                        [min]="todayDateTime"
                    />
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4">
            <div class="flex flex-col gap-y-4">
                <h1 class="text-sm md:text-md font-semibold tracking-wide">
                    due at:
                </h1>
                <div class="flex flex-row gap-x-4">
                    <input
                        type="datetime-local"
                        name="dueAt"
                        [(ngModel)]="newDuty.dueDate"
                        class="border-2 border-sky-500 px-2 py-1 rounded-md text-sm focus:outline-none focus:shadow-sky-500/20 focus:shadow-md"
                        [min]="
                            newDuty.publishedAt != null
                                ? newDuty.publishedAt
                                : todayDateTime
                        "
                        required
                        (change)="changeCloseDate()"
                    />
                </div>
            </div>
            <div class="flex flex-col gap-y-4">
                <h1 class="text-sm md:text-md font-semibold tracking-wide">
                    close at:
                </h1>
                <div class="flex flex-row gap-x-4">
                    <input
                        type="datetime-local"
                        name="closeDate"
                        [(ngModel)]="newDuty.closingDate"
                        class="border-2 border-sky-500 px-2 py-1 rounded-md text-sm focus:outline-none focus:shadow-sky-500/20 focus:shadow-md"
                        [min]="
                            newDuty.dueDate != null
                                ? newDuty.dueDate
                                : todayDateTime
                        "
                        required
                    />
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-y-4">
            <h1 class="text-sm md:text-md font-semibold tracking-wide">
                total points
            </h1>
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-y-4">
                <div class="flex items-center gap-x-2">
                    <input
                        type="checkbox"
                        name=""
                        id="isPointSystem"
                        (change)="togglePointInput()"
                        [checked]="newDuty.isPointSystem"
                    />
                    <label for="isPointSystem">point system</label>
                </div>
                <input
                    *ngIf="newDuty.isPointSystem"
                    type="number"
                    class="border-sky-500 border-2 px-3 py-1 rounded-md focus:outline-none focus:shadow-sky-500/20 focus:shadow-md"
                    placeholder="total points"
                    name="totalPoints"
                    [(ngModel)]="newDuty.totalPoints"
                    [required]="newDuty.isPointSystem"
                />
            </div>
        </div>
        <div class="flex flex-col gap-y-4">
            <h1 class="text-sm md:text-md font-semibold tracking-wide">
                attachments
            </h1>
            <input
                name="file"
                type="file"
                class="block text-sm text-transparent file:mr-4 file:py-1 file:px-3 file:rounded-md file:border-2 hover:file:border-2 file:border-sky-500 file:transition-all file:duration-300 file:text-sm file:bg-white file:text-sky-500 hover:file:bg-sky-500 hover:file:text-white"
                #filesElement2
                multiple="true"
                (change)="changeFiles($event, filesElement2)"
            />
            <div
                *ngIf="files.length != 0"
                class="grid grid-cols-1 sm:grid-cols-2"
            >
                <div class="flex flex-col gap-y-2">
                    <div *ngFor="let file of files; index as i">
                        <div
                            class="grid grid-cols-2 bg-white border-2 border-sky-500 rounded-md text-sm"
                        >
                        <div class="flex items-center">

                            <h1 class="px-2 py-1 text-sm">{{ file.name }}</h1>
                        </div>
                        <div class="flex justify-end items-center">

                            <p
                            class="pi pi-times py-2 h-full px-4 hover:bg-sky-500 hover:text-white transition-all duration-300"
                            (click)="removeFromFiles(i)"
                            ></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 *ngIf="fileErrorMessage.length != 0" class="text-sm md:text-md tracking-wide text-red-500 font-semibold">
            {{ fileErrorMessage }}
        </h1>
        <h1 class="text-sm md:text-md tracking-wide text-red-500 font-semibold">
            {{ errorMessage }}
        </h1>
        <div
            class="flex flex-row flex-wrap justify-around gap-x-5 gap-y-4 pt-4 border-t-2 border-sky-500"
        >
            <button
                class="hover:bg-red-500 px-2 py-1 sm:px-2 sm:py-1 rounded-md flex flex-row items-center gap-x-2 bg-white border-2 border border-red-500 group transition-all duration-300 w-fit"
                title="cancel edit"
                (click)="goBack()"
                type="button"
            >
                <p
                    class="pi pi-pencil text-sm sm:text-md group-hover:text-white text-red-500"
                ></p>
                <p
                    class="text-sm sm:text-md group-hover:text-white tracking-wide text-red-500"
                >
                    cancel
                </p>
            </button>
            <button
                class="hover:bg-sky-500 px-2 py-1 sm:px-2 sm:py-1 rounded-md flex flex-row items-center gap-x-2 bg-white border-2 border border-sky-500 group transition-all duration-300 w-fit"
                title="edit grade"
                type="submit"
            >
                <p
                    class="pi pi-pencil text-sm sm:text-md group-hover:text-white text-sky-500"
                ></p>
                <p
                    class="text-sm sm:text-md group-hover:text-white tracking-wide text-sky-500"
                >
                    save
                </p>
            </button>
        </div>
    </form>
</div>
