<form (ngSubmit)="submitGrade()" action="" class="flex flex-col gap-y-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-10 gap-y-4">
        <div class="flex flex-col gap-y-4">
            <h1 class="text-sm md:text-md font-semibold tracking-wide">
                grade:
            </h1>
            <div *ngIf="grading.duty.isPointSystem; else elseBlock">
                <input
                    id="point"
                    type="number"
                    placeholder="grade"
                    [(ngModel)]="newGrade.points"
                    min="0"
                    max="{{ grading.duty.totalPoints }}"
                    name="point"
                    class="border-sky-500 border-2 px-3 py-1 rounded-md focus:outline-none"
                />
                <span for="point">/ {{ grading.duty.totalPoints }}</span>
            </div>
            <ng-template #elseBlock>
                <div>
                    <select
                        name="point"
                        id="point"
                        [(ngModel)]="newGrade.points"
                        name="point"
                        class="px-3 py-1 rounded-md border-2 border-sky-500 focus:outline-none tracking-wide"
                    >
                        <option value="-1" class="">P / F</option>
                        <option value="1" class="p-8">Pass</option>
                        <option value="0" class="p-8">Fail</option>
                    </select>
                </div>
            </ng-template>
        </div>
        <div class="flex flex-col gap-y-4">
            <h1 class="text-sm md:text-md font-semibold tracking-wide">
                comment:
            </h1>
            <textarea
                id="comment"
                type="text"
                placeholder="comment"
                name="comment"
                [(ngModel)]="newGrade.gradeComment"
                class="px-3 py-1 border-2 border-sky-500 focus:outline-none rounded-md"
                cols="30"
                rows="1"
            ></textarea>
            <label for="comment"></label>
        </div>
    </div>
    <div class="flex flex-row flex-wrap gap-x-5 gap-y-4">
        <button
            class="hover:bg-red-500 px-2 py-1 sm:px-2 sm:py-1 rounded-md flex flex-row items-center gap-x-2 bg-white border-2 border border-red-500 group transition-all duration-300 w-fit"
            title="cancel edit"
            (click)="cancelGrade()"
            type="button"
        >
            <p
                class="pi pi-pencil text-sm sm:text-md group-hover:text-white text-red-500"
            ></p>
            <p
                class="text-sm sm:text-md group-hover:text-white tracking-wide text-red-500"
            >
                cancel
            </p>
        </button>
        <button
            class="hover:bg-sky-500 px-2 py-1 sm:px-2 sm:py-1 rounded-md flex flex-row items-center gap-x-2 bg-white border-2 border border-sky-500 group transition-all duration-300 w-fit"
            title="edit grade"
            type="submit"
        >
            <p
                class="pi pi-pencil text-sm sm:text-md group-hover:text-white text-sky-500"
            ></p>
            <p
                class="text-sm sm:text-md group-hover:text-white tracking-wide text-sky-500"
            >
                save
            </p>
        </button>
    </div>
</form>
