<div
    class="grid grid-rows-2 gap-4 place-content-center grid-cols-2 md:grid-cols-6 lg:grid-cols-4 {{
        responsiveStyleSheet.margin
    }}"
>
    <div
        class="col-span-2 md:col-start-2 lg:col-start-2 row-start-1 md:col-span-4 lg:col-span-2 row-span-2 shadow-xl rounded-lg"
        style="background-color: white"
    >
        <div class="p-8 divide-y divide-sky-500">
            <div
                class="header flex flex-col sm:items-center font-mono pb-5 text-gray-800"
            >
                <h1
                    class="tracking-widest text-5xl md:text-7xl leading-normal sm:pb-5"
                >
                    {{ model.title }}
                </h1>
                <p>
                    {{ model.linkName }}
                    <a class="text-sky-500" [routerLink]="model.link">here</a>
                    {{ model.subheader }}
                </p>
            </div>
            <form
                #loginSignup="ngForm"
                (ngSubmit)="loginUser(loginSignup)"
                class="body p-3 flex flex-col items-center font-sans"
            >
                <div class="p-6">
                    <p-floatLabel>
                        <input
                            #username="ngModel"
                            [ngClass]="!validateUsername(username) ? 'outline-red-500' : 'outline-sky-200'"
                            id="username"
                            class="w-72 sm:w-96 h-10 p-2 outline"
                            name="{{ inputNames.username }}"
                            type="text"
                            [(ngModel)]="authModelState.username"
                            pInputText
                            required
                        />
                        <label
                        [ngClass]="!validateUsername(username) ? 'text-red-500' : 'text-gray-500'"
                        for="username"
                            >Username</label
                        >
                    </p-floatLabel>
                    <small
                        class="text-red-500 px-3"
                        [class.hidden]="validateUsername(username)"
                        >{{ validationErrorLog.username }}</small
                    >
                </div>
                <div class="p-6">
                    <p-floatLabel>
                        <input
                            #password="ngModel"
                            class="w-72 xs:w-72 sm:w-96 h-10 p-2 outline"
                            id="password"
                            name="{{ inputNames.password }}"
                            type="password"
                            [ngClass]="!validatePassword(password) ? 'outline-red-500' : 'outline-sky-200'"
                            [(ngModel)]="authModelState.password"
                            pInputText
                            required
                        />
                        <label
                            for="password"
                            [ngClass]="!validatePassword(password) ? 'text-red-500' : 'text-gray-500'"
                            >Password</label
                        >
                    </p-floatLabel>
                    <small
                        class="text-red-500 px-3"
                        [class.hidden]="validatePassword(password)"
                        >{{ validationErrorLog.password }}</small
                    >
                </div>
                <p-floatLabel class="p-6" *ngIf="model.isRegister">
                    <input
                        class="w-72 sm:w-96 h-10 p-2 outline outline-sky-200"
                        id="confirm-password"
                        type="password"
                        name="{{ inputNames.confirmedPassword }}"
                        [(ngModel)]="authModelState.confirmedPassword"
                        pInputText
                        required
                    />
                    <label for="password">Confirm Password</label>
                </p-floatLabel>
                <p-floatLabel class="p-6" *ngIf="model.isRegister">
                    <input
                        class="w-72 sm:w-96 h-10 p-2 outline outline-sky-200"
                        id="email"
                        type="email"
                        name="{{ inputNames.email }}"
                        required
                        pInputText
                        [(ngModel)]="authModelState.email"
                    />
                    <label for="password">Email</label>
                </p-floatLabel>
                <button
                    class="text-sky-500 font-mono rounded-md border-2 border-sky-500 bg-white px-3 py-1 mt-5 hover:bg-sky-500 hover:text-white transition-all"
                    label="Submit"
                    type="submit"
                >
                    {{ model.title }}
                </button>
            </form>
        </div>
    </div>
</div>
