<header class="">
    <div>
        <button
            class="py-2 mb-2 bg-white rounded-full border-2 border-sky-500 group hover:bg-sky-500 transition-all duration-300"
            (click)="goBack()"
        >
            <p
                class="pi pi-arrow-left text-md text-sky-500 font-bold px-4 group-hover:text-white"
            ></p>
        </button>
    </div>
</header>
<div class="flex justify-center">
    <h1 class="text-2xl md:text-4xl tracking-wide font-semibold">New Family</h1>
</div>

<div class="lg:mx-48 py-4 md:px-4">
    <form
        class="py-4 md:px-4 flex flex-col gap-y-6"
        action=""
        (ngSubmit)="createNewFamily()"
    >
        <div class="flex flex-col gap-y-4">
            <h1 class="text-sm md:text-md font-semibold tracking-wide">
                family name:
            </h1>
            <input
                type="text"
                name="title"
                id="title"
                [(ngModel)]="newFamily.familyName"
                class="border-sky-500 border-2 px-3 py-1 rounded-md focus:outline-sky-500 focus:shadow-lg"
                placeholder="name"
            />
        </div>
        <div class="flex flex-col gap-y-4">
            <h1 class="text-sm md:text-md font-semibold tracking-wide">
                family info:
            </h1>
            <textarea
                type="textarea"
                name="info"
                id="info"
                [(ngModel)]="newFamily.familyInfo"
                class="border-sky-500 border-2 px-3 py-1 rounded-md focus:outline-sky-500 focus:shadow-lg"
                placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias adipisci perspiciatis ipsam excepturi quibusdam eius recusandae vel accusamus nesciunt nemo. Debitis veniam in aliquid quos fugiat suscipit, officia eligendi quia."
                rows="6"
            ></textarea>
        </div>
        <div class="flex flex-col gap-y-4">
            <h1 class="text-sm md:text-md font-semibold tracking-wide">
                family picture
            </h1>
            <div class="grid grid-cols-1 sm:grid-cols-2">
                <input
                    name="file"
                    type="file"
                    class="block text-sm text-slate-500 file:mr-4 file:py-1 file:px-3 file:rounded-md file:border-2 hover:file:border-2 file:border-sky-500 file:transition-all file:duration-300 file:text-sm file:bg-white file:text-sky-500 hover:file:bg-sky-500 hover:file:text-white"
                    #filesElement2
                    (change)="changeFiles($event)"
                    accept=".jpg, .jpeg, .png"
                />
            </div>
        </div>
        <div class="flex flex-row flex-wrap justify-around gap-x-5 gap-y-4 border-t-2 border-sky-500 py-6">
            <button
                class="hover:bg-red-500 px-2 py-1 sm:px-2 sm:py-1 rounded-md flex flex-row items-center gap-x-2 bg-white border-2 border border-red-500 group transition-all duration-300 w-fit"
                title="cancel edit"
                (click)="goBack()"
                type="button"
            >
                <p
                    class="pi pi-pencil text-sm sm:text-md group-hover:text-white text-red-500"
                ></p>
                <p
                    class="text-sm sm:text-md group-hover:text-white tracking-wide text-red-500"
                >
                    cancel
                </p>
            </button>
            <button
                class="hover:bg-sky-500 px-2 py-1 sm:px-2 sm:py-1 rounded-md flex flex-row items-center gap-x-2 bg-white border-2 border border-sky-500 group transition-all duration-300 w-fit"
                title="edit grade"
                type="submit"
            >
                <p
                    class="pi pi-pencil text-sm sm:text-md group-hover:text-white text-sky-500"
                ></p>
                <p
                    class="text-sm sm:text-md group-hover:text-white tracking-wide text-sky-500"
                >
                    save
                </p>
            </button>
        </div>
    </form>
</div>
