<header class="pt-4">
    <div>
        <button
            class="py-2 mb-2 bg-white rounded-full border-2 border-sky-500 group hover:bg-sky-500 transition-all duration-300"
            (click)="goBack()"
        >
            <p
                class="pi pi-arrow-left text-md text-sky-500 font-bold px-4 group-hover:text-white"
            ></p>
        </button>
    </div>
    <div class="flex justify-center md:p-4 flex-col items-center gap-y-4">
        <h1 class="text-2xl md:text-4xl tracking-wide font-semibold">
            {{ singleFamily.name }}
        </h1>
        <p>{{ singleFamily.info }}</p>
    </div>
    <div
        class="lg:mx-32 flex flex-row flex-wrap justify-center sm:justify-between items-center pt-4"
    >
        <div class="p-2">
            <h1 class="text-xl tracking-wide font-semibold md:text-2xl">
                Duties...
            </h1>
        </div>
        <div
            class="flex justify-center sm:justify-end p-4 flex-row gap-x-4 gap-y-4 flex-wrap"
        >
            <button
                class="hover:bg-red-500 px-2 py-1 sm:px-3 sm:py-2 rounded-lg flex flex-row items-center gap-x-2 bg-white border-2 border border-red-500 group transition-all duration-300"
                (click)="deleteFamily()"
                *ngIf="isUserTutorInFamily"
                title="delete family"
            >
                <p
                    class="pi pi-trash text-sm sm:text-md group-hover:text-white text-red-500"
                ></p>
                <p
                    class="text-sm sm:text-md group-hover:text-white tracking-wide text-red-500"
                >
                    delete
                </p>
            </button>
            <button
                class="hover:bg-sky-500 px-2 py-1 sm:px-3 sm:py-2 rounded-lg flex flex-row items-center gap-x-2 bg-white border-2 border border-sky-500 group transition-all duration-300"
                (click)="openMember()"
                *ngIf="isUserTutorInFamily"
                title="members"
            >
                <p
                    class="pi pi-user text-md group-hover:text-white text-sky-500"
                ></p>
                <p
                    class="md:text-md text-md group-hover:text-white tracking-wide text-sky-500"
                >
                    members
                </p>
            </button>
            <button
                class="hover:bg-sky-500 px-2 py-1 sm:px-3 sm:py-2 rounded-lg flex flex-row items-center gap-x-2 bg-white border-2 border border-sky-500 group transition-all duration-300"
                (click)="createNewDuty()"
                *ngIf="isUserTutorInFamily"
                title="create duty"
            >
                <p
                    class="pi pi-plus text-md group-hover:text-white text-sky-500"
                ></p>
                <p
                    class="md:text-md text-md group-hover:text-white tracking-wide text-sky-500"
                >
                    create
                </p>
            </button>
        </div>
    </div>
</header>

<div
    class="pt-4 flex flex-col gap-y-4 lg:mx-32"
    *ngIf="!isUserTutorInFamily; else elseBlock"
>
    <div
        *ngIf="
            !isLoading &&
            singleFamily.dutiesWithSubmission != null &&
            singleFamily.dutiesWithSubmission.length == 0
        "
    >
        <div class="justify-center my-20 flex">
            <h1 class="text-lg md:text-xl tracking-wide font-semibold">
                There is no duties here.
            </h1>
        </div>
    </div>
    <div *ngIf="isLoading">
        <div class="justify-center my-20 flex">
            <h1 class="text-lg md:text-xl tracking-wide font-semibold">
                Loading...
            </h1>
        </div>
    </div>
    <div *ngFor="let item of singleFamily.dutiesWithSubmission; index as i">
        <div
            class="flex flex-row items-center justify-between rounded-md border-2 border-sky-500 p-4 hover:-translate-y-1 group transition-all duration-300 hover:bg-sky-200 bg-white cursor-pointer"
            (click)="openDuty(item.duty.dutyId)"
        >
            <div class="">
                <h1 class="font-bold text-gray-800">
                    {{ item.duty.title }}
                </h1>
                <div
                    class="flex flex-row justify-between flex-wrap gap-x-10 gap-y-2 pt-2"
                >
                    <p
                        class="text-sm text-gray-500 tracking-wide group-hover:text-gray-800"
                    >
                        Published at
                        <b>{{ getFormattedDate(item.duty.publishedAt) }} </b>
                    </p>
                    <p
                        class="text-sm text-gray-500 tracking-wide group-hover:text-gray-800"
                    >
                        Due at <b>{{ getFormattedDate(item.duty.dueDate) }}</b>
                    </p>
                </div>
            </div>
            <div>
                <p
                    class="pi text-2xl font-bold px-4"
                    [ngClass]="
                        item.isSubmitted
                            ? 'pi-check  text-green-500'
                            : hasDeadlinePassed(item)
                            ? 'pi-times text-red-500'
                            : 'pi-exclamation-circle  text-yellow-500'
                    "
                ></p>
            </div>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <div class="pt-4 flex flex-col gap-y-4 lg:mx-32">
        <div
            *ngIf="
                singleFamily.duties != null && singleFamily.duties.length == 0
            "
        >
            <div class="justify-center my-20 flex">
                <h1 class="text-lg md:text-xl tracking-wide font-semibold">
                    There is no duties here.
                </h1>
            </div>
        </div>
        <div *ngFor="let item of singleFamily.duties; index as i">
            <div
                class="flex flex-row items-center justify-between rounded-md border-2 border-sky-500 p-4 hover:-translate-y-1 group transition-all duration-300 hover:bg-sky-200 bg-white cursor-pointer"
                (click)="openDuty(item.dutyId)"
            >
                <div class="">
                    <h1 class="font-bold text-gray-800">
                        {{ item.title }}
                    </h1>
                    <div
                        class="flex flex-row justify-between flex-wrap gap-x-10 gap-y-2 pt-2"
                    >
                        <p
                            class="text-sm text-gray-500 tracking-wide group-hover:text-gray-800"
                        >
                            Published at
                            <b>{{ getFormattedDate(item.publishedAt) }} </b>
                        </p>
                        <p
                            class="text-sm text-gray-500 tracking-wide group-hover:text-gray-800"
                        >
                            Due at <b>{{ getFormattedDate(item.dueDate) }}</b>
                        </p>
                    </div>
                </div>
                <div>
                    <p
                        class="font-bold tracking-wide text-sm  px-4 "
                        [ngClass]="hasPublished(item.publishedAt) ? 'text-green-500' : 'text-yellow-600'"
                    >
                        {{
                            hasPublished(item.publishedAt)
                                ? "published"
                                : "not yet published"
                        }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-template>
